 body{
    margin: 0 !important;
 }
.nav-links{
    display: flex;
    gap: 20px;
    background-color: #ca7272;
    padding: 10px;
    align-items: center;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
.page-background{
    width: -webkit-fill-available;
}
a{
    text-decoration-line: none;
    color: white;
    float: right;
    text-align: right;
}
a:hover{
    color: rgb(143, 143, 143);
    float: right;
    text-align: right;
}

contacth1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    color: white;
    margin-top: 100px;
}