 body{
    margin: 0 !important;
 }
.nav-links{
    display: flex;
    gap: 20px;
    background-color: #8b3e3e;
    padding: 10px;
    align-items: center;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
.page-background{
    width: -webkit-fill-available;
    z-index: 1;
}
a{
    text-decoration-line: none;
    color: white;
    float: right;
    text-align: right;
}
a:hover{
    color: rgb(143, 143, 143);
    float: right;
    text-align: right;
}

.contactinformationbox{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-top: 100px;
    margin-left: 30%;
    background-color: rgba(143, 72, 72, 0.7);
    width: 40%;
    height: 70%;
    z-index: 2;
}