 body{
    margin: 0 !important;
 }
.nav-links{
    display: flex;
    gap: 20px;
    background-color: #7c7c7c;
    padding: 10px;
    align-items: center;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
.nav-text{
    align-content: -90%;
}
.page-background{
    width: -webkit-fill-available;
}
a{
    text-decoration-line: none;
    color: white;
    float: right;
    text-align: right;
}
a:hover{
    color: black;
    float: right;
    text-align: right;
}