 body{
    margin: 0 !important;
 }
.nav-links{
    display: flex;
    gap: 20px;
    background-color: #8b3e3e;
    padding: 10px;
    align-items: center;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
.page-background{
    width: -webkit-fill-available;
    z-index: -1;
}
a{
    text-decoration-line: none;
    color: white;
    float: right;
    text-align: right;
}
a:hover{
    color: rgb(143, 143, 143);
    float: right;
    text-align: right;
}
h3{
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
}

.contactinformationbox{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    color: rgb(233, 224, 224);
    margin-top: 100px;
    margin-left: 30%;
    background-color: rgba(143, 72, 72, 0.4);
    width: 40%;
    height: 70%;
    z-index: 1000;
    position:fixed;
    border-radius: 25px;
}

.firstbutton{
    font-size: 20px;
    width: 80%;
    margin-top: 10px;
    border-radius: 10px;
    height: 40px;
}

.secondbutton{
    font-size: 20px;
    width: 80%;
    margin-top: 5px;
    border-radius: 10px;
    height: 40px;
}

.submitbutton{
    font-size: 20px;
    width: 40%;
    margin-top: 10px;
    border-radius: 10px;
    height: 40px;
    background-color: #8b3e3e;
    color: white;
}

h1{
    color:#8b3e3e;
}
